.contact{
    margin: 5%;
}
.contact h2{
    color:#ffab04;
    margin-left: 40%;
}
.imageDiv{
    display: flex;
    justify-content: center;
}

.imageDiv img {
    display: block; /* Make the image a block element */
    margin: auto; /* Center the image horizontally */
}

.contactInfo{
    text-align: center;
}