

.userRegister{
    margin:5%;
}


.userRegister h2{
    color:#ffab04;
}

.userRegister h3{
    color:beige;
}

.amount{
    margin: auto;
    background-color: rgb(51, 49, 49);
    color:#ffab04;
    width:50%;
    text-align: center;
    font-size:medium;
}
.amount h3{
    color:beige;
    font-size: large;
}