.addVaccine {
    margin-left: 22%;
}
.addVaccine h2{
   margin-left: 25%;
    color:#ffab04;
}
.addVaccine form  label{
    width: 220px;

}

.addVaccine form  input,textarea{
    width: 500px;
    margin-bottom:5px;
    border-radius: 5px;
}