
.registers{
    /* background-color: #313131; */
    color: white;
    /* margin-top:100px; */
    margin-left:5%;
    margin-right:5%;
    padding:20px;
}

.registers h2{
    color:#ffab04;
}

.registers table {
    /* border-collapse: collapse; */
    width: 100%;
}

.registers table tr , table td, table th{
    border: 2px solid rgb(94, 94, 91);
    padding: 8px;
    text-align: left;
    padding-top:  15px;
    padding-bottom: 15px;
}
.registers table th {
    font-weight: bold;
    color:rgb(195, 195, 147);
}



.registers button{
    height: 40px;
    width: 100px;
    border-radius: 8px;
    margin-right:5px;
}

.activeButton {
    background-color: #007bff; /* Set the desired active color */
    color: #fff; /* Set the text color for active state */
    
}

.activeButton {
    background-color: #007bff; /* Set the desired active color */
    color: #fff; /* Set the text color for active state */
    
}