.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0px;
}

.cart{
  margin: 30px 0px;
}

.cart h1{
  text-align: center;
}

#user_login ,#add_product,#card_display ,#about, #cart-div ,#coupon{
  font-family: Arial, Helvetica, sans-serif;
  
  margin-left: 10%;
  margin-right: 10%;
  margin-top:100px;
}
/* 
#user_login form,#add_product form{
  border: 3px solid #f1f1f1;
} */

#user_login label,#add_product label {
  display: block;
  margin-bottom: 8px;
}

#user_login input,#add_product input{
  height: 35px;
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

#add_product textarea{
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#user_login button ,#add_product button{
  background-color: #86aa04;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#card_display h5{
  font-style: italic;
}



#logout_button{
  font: inherit;
  cursor: pointer;
  background-color: #d8c277;
  /* border: 1px solid #ffc404; */
  color: #f7f5ed;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  height: 34px;
 
}

#logout_button:hover,
#logout_button:active {
  background-color: #ffab04;
  border-color: #ffab04;
  color: #1f1a09;
  font-style: italics;
  max-height: 31px;
}

.nav-bar {
  height: 70px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  float: left;
    margin-left: 37%;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-bar h2 {
  font-size: 40px;
}



/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}
.not-found h2 {
  font-size: 55px;
}
.not-found p {
  font-size: 20px;
}



.nav-bag {
  display: flex;
  align-items: center;
}
.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background:  red;
  font-size: 14px;
  font-weight: 200;
  color: white;
  margin-left: -7px;
  margin-top: -18px;
}

.iconImg {
  width: 28px;
  height: 28px;
}
.icons {
  display: flex;
  align-items: center;
}
.notification {
  position: relative;
}

.notification-dropdown {
  position: absolute;
  top: 100%; /* Place the dropdown below the notification icon */
  left: 0;
  background: rgb(241, 234, 153);
  border: 1px solid #ccc;
  padding: 10px;
  display: none; /* Initially hide the dropdown */
  width: 300px;
}

.notification.active .notification-dropdown {
  display: block; /* Show the dropdown when the active class is present */
}



.dynamicNotification{
  color:black;
}
.icon {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.cart-icon-container {
  margin-left: 10px; /* Adjust the margin as needed */
}
.counter {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px;
  right: -1px;
}
/* .counter {
  width: 10px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  padding-left: 2px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80px;
  right: 150px;
} */

#hiUser{
  color: rgb(232, 232, 138);
  font-size: large;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin-left: 10px;
}