.chartService{
    margin:5%;
    /* margin-bottom: 5%;
    color:rgb(62, 65, 138); */
    
}
.chartService h2{ 
    color:#ffab04;
}


.ageBarChart{
    margin: 5%;
}

.ageBarChart h2{
    color:#ffab04;
}

.agePieChart{
    margin: 5%;
}

.agePieChart h2{
    color:#ffab04;
}

.agePieChart svg{
    margin-left: 15%;
}

.genderBarchart{
    margin: 5%;
}

.genderBarchart h2{
    color:#ffab04;
}


.genderPieChart{
    margin: 5%;
}

.genderPieChart h2{
    color:#ffab04;
}

.genderPieChart svg{
    margin-left: 15%;
}


h1{
    color:bisque
}

.chartLinks{
    display: flex;
    flex-direction: column;
    
}
